---
import Layout from "../../layouts/Layout.astro";
import RecipeListChooser from "../../components/RecipeListChooser.astro";
import { getRecipes } from "../../helpers";

const recipes = await getRecipes();
---

<Layout title="Recipes">
  <div class="page-section">
    <RecipeListChooser />
    <p class="attn">🥧 Peep these hot treats:</p>
    <ul class="recipe-simple-list">
      {
        recipes.map((page) => (
          <li class="padding-v">
            <a href={"/recipes/" + page.slug}>{page.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
