---
import Layout from "../../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getRecipes } from "../../helpers";

type TagProps = {
  params: {
    tag: string;
  };
  props: {
    entries: CollectionEntry<"recipes">[];
  };
};

export async function getStaticPaths() {
  const recipes = await getRecipes();
  const tags = recipes.reduce(
    (acc, r) => {
      const allTags = r.data.tags;
      if (allTags.length) {
        allTags.forEach((tag) => {
          if (!Object.keys(acc).includes(tag)) {
            acc[tag] = {
              params: { tag: tag },
              props: {
                entries: [r],
              },
            };
          } else {
            acc[tag].props.entries.push(r);
          }
        });
      }
      return acc;
    },
    {} as Record<string, TagProps>
  );
  return Object.values(tags);
}
const { tag } = Astro.params;
const { entries } = Astro.props;
---

<Layout title={`Tag: ${tag}`}>
  <div class="page-section">
    {entries.map((entry) => <article>{entry.data.title}</article>)}
  </div>
</Layout>
