---
import Layout from "../../layouts/Layout.astro";
import RecipeListChooser from "../../components/RecipeListChooser.astro";
import type { CollectionEntry } from "astro:content";
import { getRecipes } from "../../helpers";

const recipes = await getRecipes(0);
const recipesByTag = recipes.reduce(
  (acc, r) => {
    const allTags = r.data.tags;
    if (allTags.length) {
      allTags.forEach((tag) => {
        if (!Object.keys(acc).includes(tag)) {
          acc[tag] = [r];
        } else {
          acc[tag].push(r);
        }
      });
    }
    return acc;
  },
  {} as Record<string, CollectionEntry<"recipes">[]>
);
---

<Layout title="All recipes">
  <div class="page-section">
    <RecipeListChooser />
    {
      Object.entries(recipesByTag).map(([tag, recipeList]) => (
        <section>
          <h3>{tag}</h3>
          <ul>
            {recipeList.map((r) => (
              <li>
                <a href={`/recipes/${r.slug}`}>{r.data.title}</a>
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>
</Layout>
