---
import Layout from "../layouts/Layout.astro";
import RecipeShortie from "../components/RecipeShort.astro";
import { getRecipes } from "../helpers";

const recipes = await getRecipes(3);
---

<Layout title="Home" hideTitle wide>
  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Welcome</h2>
          <p>👋 Hi. I'm Rewdy.</p><p>
            I like to cook and come up with recipes. This website is a place
            that I can share these recipes with friends and family. Since I have
            recently been following
            <strong
              ><a
                href="https://www.weightwatchers.com"
                target="_blank"
                class="ww-link">Weight Watchers™️</a
              ></strong
            >, you will find that many of my recipes listed here have
            per-serving "points" listed and a link to my recipe on the WW site.
          </p>
          <p>I hope you find this content helpful. 😊</p>
          <hr />
          <p>
            See my most recent recipes below or browse: <a href="/recipes"
              >All my recipes listed</a
            > | <a href="/tags">all recipes grouped by category</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section page-section-screen-accent">
    <div class="container">
      <h2>Recent</h2>
      <div class="row row-margin">
        {
          recipes.map((recipe) => (
            <div class="col-sm-6 col-md-4">
              <RecipeShortie data={recipe} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <section class="page-section page-section-invert">
    <p class="large text-center margin-collapse">
      <a href="/recipes">View all recipes...</a>
    </p>
  </section>
</Layout>
