---
import Layout from "../../../layouts/Layout.astro";
import RecipeCard from "../../../components/RecipeCard.astro";
import { getRecipes } from "../../../helpers";

export async function getStaticPaths() {
  const recipes = await getRecipes(0);
  return recipes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter: processedFrontmatter } =
  await entry.render();
const entryWithRemarkProcess = {
  ...entry,
  data: { ...entry.data, ...processedFrontmatter },
};
---

<Layout title={entry.data.title} ogImage={`${import.meta.env.SITE}/recipes/${entry.slug}/share-image.png`}>
  <div class="page-section">
    <article>
      <Content />
      <RecipeCard data={entryWithRemarkProcess} />
    </article>
    <hr />
    <p><a href="/recipes" class="more-link back">All recipes</a></p>
  </div>
</Layout>
