.box {
  padding: var(--padding-base);
  margin: 0 0 var(--padding-base) 0;
  border-radius: var(--box-radius);
  &-lined {
    border: 1px solid var(--line-color);
  }
  &-invert {
    background-color: var(--text-color);
    color: var(--background-color);
    a {
      color: inherit;
    }
  }
  &-screen {
    background-color: var(--screen-soft);
  }
  &-info {
    color: var(--color-info);
    background-color: var(--screen-info);
  }
  &-success {
    color: var(--color-success);
    background-color: var(--screen-success);
  }
  &-warning {
    color: var(--color-warning);
    background-color: var(--screen-warning);
  }
  &-danger {
    color: var(--color-danger);
    background-color: var(--screen-danger);
  }
  &-recipe {
    position: relative;
    border: 1px solid var(--accent);
    background-color: var(--background-color);
    box-shadow: 4px 4px 0px fade-out(#444, 0.8);
    &-hover {
      transition:
        transform 200ms ease-out,
        box-shadow 200ms ease-out;
      &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 6px 6px 0 fade-out(#444, 0.7);
      }
    }
  }
}
