.display-flex {
  display: flex;
  margin-left: calc(var(--gutter) / 2 * -1);
  margin-right: calc(var(--gutter) / 2 * -1);
  > * {
    margin-left: calc(var(--gutter) / 2);
    margin-right: calc(var(--gutter) / 2);
  }
}
.col-75 {
  width: 75%;
}
.col-50 {
  width: 50%;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: 33.3334%;
}

.display-flex-md {
  @media screen and (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
  @media screen and (max-width: $breakpoint-sm) {
    .col-75,
    .col-50,
    .col-25,
    .col-33 {
      width: auto;
    }
  }
}
