/* Image and figure alignment */
img.left,
figure.left {
  float: left;
  margin: 0 1em 1em 0;
}
img.right,
figure.right {
  float: right;
  margin: 0 0 1em 1em;
}
figure.left,
figure.right {
  + * {
    clear: none;
  }
}
@media only screen and (max-width: $breakpoint-sm) {
  img.left,
  figure.left {
    float: none;
    margin: 0 0 1em 0;
  }
  figure.left,
  figure.right {
    float: left;
    + * {
      clear: left;
    }
  }
}
