@use "./vars";

// STANDARD STYLINGS
// Standard focus style for links et al
@mixin focus() {
  outline: none;
  box-shadow: 0 0 2px 1px var(--selection);
}

// functional shadow for items that are appearing over other items
@mixin overshadow() {
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

// UTILITIES
@mixin transition($els: all, $duration: 150ms, $easing: ease-out) {
  transition: $els $duration $easing;
}

@mixin accessible-hide() {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

// HELPER FUNCTION(S)
@function brightness($color) {
  $sum: red($color) + green($color) + blue($color);
  @return percentage($sum / (255 * 3));
}

@function contrasting-text($color) {
  @if (brightness($color) > 60%) {
    @return #000; // black for light backgrounds
  } @else {
    @return #fff; // white for darker backgrounds
  }
}

// FUNCTIONS
@function breakpoint($which) {
  $min: map-get(vars.$grid-breakpoints, $which);
  @return $min;
}
@function breakpoint-down($which) {
  $min: map-get(vars.$grid-breakpoints, $which);
  @return $min - 0.02px;
}
