// Text Alignment
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
@media only screen and (min-width: $breakpoint-sm) {
  .text-center-l {
    text-align: center;
  }
  .text-left-l {
    text-align: left;
  }
  .text-right-l {
    text-align: right;
  }
}
@media only screen and (max-width: $breakpoint-sm) {
  .text-center-s {
    text-align: center;
  }
  .text-left-s {
    text-align: left;
  }
  .text-right-s {
    text-align: right;
  }
}

// Text floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Other tweaks
.margin {
  margin-bottom: var(--line-height);
}
.margin-compress {
  margin-bottom: 0.5em;
}
.margin-collapse {
  margin-bottom: 0;
}
.margin-right-x {
  margin-right: 1ex;
}
.margin-left-x {
  margin-left: 1ex;
}
.hide {
  display: none;
}
.accessible-hide {
  @include accessible-hide();
}
