$breakpoint-sm: 640px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1460px;
$max-width: 1280px;

// Do these need to match with the above??
$grid-columns: 12;
$grid-gutter: 40px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$primary: rgb(219, 1, 1);

:root {
  // Background colors
  --background-color: #fff;
  --background-fade-point: #e6e6e6;

  // Text colors
  --foreground-color: #222;
  --text-color: #222;
  --text-light: #7f7f7f;
  --text-invert: var(--background-color);

  // Footer
  --footer-background-color: #{$primary};
  --footer-text-color: var(--background-color);
  --footer-link-color: var(--background-color);

  // Design colors
  --accent: #{$primary};
  --accent-opposite: #fff;
  --pop: #1b77c5;
  --pop-opposite: #fff;
  --selection: rgba(219, 1, 1, 0.7);
  --link-color: #000;
  --link-hover: var(--pop);

  --nav-link-color: var(--link-color);
  --ww-blue: #001486;

  // Indicator colors
  --color-info: #1b77c5;
  --screen-info: change-color(#1b77c5, $lightness: 90%);
  --color-success: #1d9428;
  --screen-success: change-color(#1d9428, $lightness: 90%);
  --color-warning: #d4ae2f;
  --screen-warning: change-color(#d4ae2f, $lightness: 90%);
  --color-danger: #c0343b;
  --screen-danger: change-color(#c0343b, $lightness: 90%);

  // Line colors
  --line-color: #ddd;
  --line-color-heavy: #999;

  // Screens
  --screen: #e6e6e6;
  --screen-soft: #f2f2f2;
  --screen-heavy: #444;
  --screen-accent: #{lighten($primary, 50%)};

  // Specific colors
  --form-color-button: var(--link-color);
  --form-color-focus: var(--pop);

  --code-color: #f542ed;

  // Type
  --font-size: 20px;
  --font-small: 0.8rem;
  --font-large: 1.3rem;
  --font-family: "Open Sans Variable", sans-serif;
  --alt-font: "Karla Variable", sans-serif; // this is for an alternative font
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-scale: 1.25; // do we want/need this?
  --line-height: 1.5em;

  --gutter: 3em;

  // Margins
  --margin-base: 1.5rem;
  --margin-extra: 3rem;
  --margin-tight: 0.75rem;
  --margin-box: var(--margin-tight) var(--margin-base);

  // Paddings
  --padding-base: 1.5rem;
  --padding-extra: 3rem;
  --padding-tight: 0.75rem;
  --padding-button: 0.5rem 1rem;

  // Radii
  --master-radius: 0;
  --form-radius: var(--master-radius);
  --button-radius: var(--form-radius);
  --box-radius: var(--master-radius);

  @media (max-width: breakpoint-down("sm")) {
    --font-size: 16px;
  }

  @media (prefers-color-scheme: dark) {
    // Background colors
    --background-color: #1b1b1b;
    --background-fade-point: #111;

    // Text colors
    --foreground-color: #ddd;
    --text-color: #b4b2b2;
    --text-light: #818181;
    --text-invert: var(--background-color);

    // Footer
    --footer-background-color: #111;
    --footer-text-color: var(--foreground-color);
    --footer-link-color: var(--foreground-color);

    // Design colors
    --accent: rgb(180, 10, 10);
    // --accent-opposite: #fff;
    --pop: #1b77c5;
    --selection: fade-out(#1b77c5, 0.3);
    --link-color: var(--accent);
    --link-hover: var(--pop);

    --nav-link-color: var(--text-color);

    --ww-blue: #293db2;

    // Indicator colors
    --color-info: #1b77c5;
    --screen-info: change-color(#1b77c5, $lightness: 90%);
    --color-success: #1d9428;
    --screen-success: change-color(#1d9428, $lightness: 90%);
    --color-warning: #d4ae2f;
    --screen-warning: change-color(#d4ae2f, $lightness: 90%);
    --color-danger: #c0343b;
    --screen-danger: change-color(#c0343b, $lightness: 90%);

    // Line colors
    --line-color: #595959;
    --line-color-heavy: #999;

    // Screens
    --screen: #313131;
    --screen-soft: #292929;
    --screen-heavy: #444;
    --screen-accent: rgb(61, 23, 23);
  }
}
