@import "./vars";
@import "./mixins";

@import "@fontsource-variable/karla/wght.css";
@import "@fontsource-variable/open-sans/wght.css";

@import "./core";
@import "./grid";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--alt-font);
  font-weight: var(--font-weight-normal);
  font-size: 1em;
  line-height: calc(var(--font-scale) * 0.93em);
  .page-wrap & a {
    color: currentColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1,
.h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 3rem 0;
}
h2,
.h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 0 0 1.5rem 0;
}
h3,
.h3 {
  margin-bottom: 0.75em;
  font-size: 1.3em;
  font-weight: var(--font-weight-bold);
  color: var(--accent);
}
h4,
.h4 {
  margin-bottom: 1em;
  font-size: 1.15em;
}
h5,
.h5 {
  margin-bottom: 1.25em;
  font-size: 1em;
}
h6,
.h6 {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: var(--font-weight-bold);
}

p,
ul,
ol,
dl,
blockquote,
pre,
table,
address,
figure,
iframe {
  margin: 0 0 var(--margin-base) 0;
}

// Lists
ul,
ol {
  li {
    margin-left: calc(var(--font-scale) * 2em);
  }
  &.inline li {
    margin: 0 calc(var(--font-scale) / 2 * 1em) 0 0;
    display: inline;
  }
  &.lined {
    border-bottom: 1px solid var(--line-color);
    li {
      margin-left: 0;
      list-style-position: inside;
      padding: 0.25em 0.25em 0.25em 0.5em;
      border-top: 1px solid var(--line-color);
    }
  }
  &.blocked li {
    margin: 0;
    list-style: none;
    a {
      display: block;
      padding: 0.25em;
      &:hover {
        background-color: var(--screen);
      }
    }
  }
  &.blocked.lined {
    li {
      padding: 0;
    }
  }
  &.button-list {
    &.text-center {
      margin: 0 auto var(--line-height) auto;
    }
    margin: 0 0 var(--line-height) 0;
    display: table;
    table-layout: fixed;
    li {
      display: table-row;
      list-style: none;
      // The <a> button styles are in _forms
    }
  }
  &.list-spaced {
    li {
      margin-bottom: var(--margin-base);
    }
  }
}

.recipe-simple-list {
  border-top: 1px solid var(--line-color);
  li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid var(--line-color);
    list-style: none;
  }
}

// definition lists
// dt {
//   font-weight: var(--font-weight-bold);
// }
// table dt {
//   float: left;
//   min-width: 120px;
//   padding-right: 0.5em;
// }

// table {
//   width: 100%;
//   border-collapse: collapse;
//   caption {
//     padding: 0.5em;
//     font-size: var(--font-small);
//     background-color: var(--screen-lt);
//     border-bottom: 1px solid var(--line-color);
//   }
//   dl,
//   address,
//   .block {
//     margin: 0;
//     clear: left;
//   }
// }
// th,
// td {
//   padding: 1em 0.25em;
//   font-size: var(--font-small);
//   border-bottom: 1px solid var(--line-color);
// }
// td {
//   vertical-align: top;
// }
// th {
//   text-align: left;
//   font-weight: var(--font-weight-bold);
//   vertical-align: middle;
// }
// table {
//   &.inline {
//     width: auto;
//   }
//   &.highlight tr:hover td {
//     background-color: var(--screen-lt);
//   }
//   &.text-center tr {
//     th,
//     td {
//       text-align: center;
//     }
//   }
//   &.striped {
//     tr td {
//       background-color: var(--page-background);
//       border-bottom: 0 none;
//     }
//     tr:nth-child(odd) td {
//       background-color: var(--screen-lt);
//     }
//   }
// }

blockquote {
  padding-left: var(--line-height);
  line-height: var(--line-height);
  font-weight: var(--font-weight-light);
  border-left: 4px solid var(--line-color);
  cite {
    display: block;
    margin-top: calc(var(--font-scale) / 2 * 1em);
    color: var(--text-light);
    &:before {
      content: "– ";
      display: inline-block;
      padding-right: 0.5em;
    }
  }
}

code,
pre {
  padding: 0.2em;
  font-size: var(--font-small);
  background-color: var(--screen-soft);
}
code {
  border-radius: 3px;
  color: var(--code-color);
  border: 1px solid var(--line-color);
}
pre {
  padding: 0.5em 0.8em;
  white-space: pre-wrap;
}

acronym,
abbr {
  border-bottom: 1px dotted var(--text-light);
  cursor: help;
}

address {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
figure {
  float: left;
  padding: 0.5em;
  max-width: 100%;
  border: 1px solid var(--line-color);
  + * {
    clear: left;
  }
}
figcaption {
  margin-top: 0.5em;
  font-size: var(--font-small);
  color: var(--text-light);
  font-style: italic;
  text-align: center;
}
svg.icon {
  font-size: 0.8em;
  vertical-align: text-bottom;
}

hr {
  margin: var(--line-height) 0;
  border-top: 1px solid var(--line-color);
  &.narrow {
    margin: var(--line-height) 25%;
  }
}

strong,
b {
  font-weight: var(--font-weight-bold);
}
small,
.small {
  font-size: var(--font-small);
}

big,
.large,
.big {
  font-size: var(--font-large);
}

@import "./images";

@import "./flex";

// Special Styles
.attn {
  margin-bottom: var(--margin-base);
  font-size: var(--font-large);
  line-height: var(--line-height);
}
.intro {
  margin-bottom: var(--font-scale) + rem;
  font-size: var(--font-large);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height);
  font-style: italic;
  color: var(--text-light);
}

@import "./boxes";

// Link styles
.more-link a,
a.more-link {
  display: inline-block;
  padding: var(--padding-button);
  color: var(--text-light);
  text-decoration: none;
  border: 1px solid var(--line-color);
  &:hover {
    color: var(--text-color);
    border-color: var(--line-color-dark);
  }
  &.next::after {
    content: "\2192";
    display: inline-block;
    margin-left: 0.25em;
  }
  &.back::before {
    content: "\2190";
    display: inline-block;
    margin-right: 0.25em;
  }
}

// Content frame
// This provides a narrower element for text so that people
// don't have to follow text across their 36 in wide screen 😵
.content-frame {
  max-width: $breakpoint-sm;
  margin-left: auto;
  margin-right: auto;
  &-md {
    max-width: $breakpoint-md;
    margin-left: auto;
    margin-right: auto;
  }
  &-lg {
    max-width: $breakpoint-lg;
    margin-left: auto;
    margin-right: auto;
  }
  &-left {
    margin-left: 0;
  }
}

@import "./utilClasses";
