---
import { siteTitle } from "../siteConfig";
import Nav from "./Nav.astro";

import "./Header.scss";
---

<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="branding">
          <a href="/" class="branding-link"
            ><span class="site-title">{siteTitle}</span></a
          >
        </div>
      </div>
      <div class="col-sm-12 col-md align-self-center">
        <Nav />
      </div>
    </div>
  </div>
  <!-- <Nav /> -->
</header>
