@use "../style/Base.scss";
@use "sass:math";
@import "../style/vars";
@import "../style/mixins";

$bg-size: 4rem;
.site-header {
  margin-bottom: var(--margin-base);
  padding: 1em 2em 2em;
  background-color: var(--background-color);
  background-image: radial-gradient(var(--accent) 1px, transparent 1px),
    radial-gradient(var(--accent) 1px, transparent 1px);
  background-position:
    0 0,
    math.div($bg-size, 2) math.div($bg-size, 2);
  background-attachment: fixed;
  background-size: $bg-size $bg-size;
  border-top: 12px solid var(--accent);
}
a.branding-link {
  color: var(--accent);
  text-decoration: none;
  display: inline-block;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 12px;
    background-color: lighten(Base.$primary, 45%);
    @media (prefers-color-scheme: dark) {
      background-color: darken(Base.$primary, 27%);
    }
  }
  &:after {
    content: "Yum!";
    position: absolute;
    top: 50%;
    left: calc(100% + 0.5rem);
    padding: 0.5rem;
    line-height: 1.2;
    transform: translateY(-50%) rotate(-4deg);
    background-color: var(--pop);
    color: var(--pop-opposite);
    opacity: 0;
    transition:
      transform 500ms ease-out,
      opacity 250ms ease-out;
  }
  &:hover:after {
    opacity: 1;
    transform: translateY(-50%) translateX(1rem) rotate(-4deg);
  }
}
.site-title {
  display: block;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 1.5em;
  margin: 0.5em 0;
}

@media (max-width: breakpoint(md)) {
  .site-header {
    padding: 1em 0;
  }
  a.branding-link:before {
    height: 8px;
  }
  .site-title {
    font-size: 1.5rem;
  }
}

@media print {
  .site-header {
    margin-bottom: 1rem;
  }
  .site-title {
    font-size: 1.25rem;
    line-height: 1.2em;
  }
}
