@import "../style/vars";
@import "../style/mixins";

.nav {
  display: flex;
  justify-content: flex-end;
  a.nav-link {
    display: inline-block;
    padding: var(--padding-button);
    background-color: var(--background-color);
    text-decoration: none;
    transition: transform 150ms ease-out;
    &:hover {
      background-color: var(--pop);
      color: var(--pop-opposite);
      transform: rotate(-2deg) scale(1.1);
    }
  }
  @media (max-width: breakpoint(md)) {
    margin-top: var(--margin-base);
    justify-content: flex-start;
  }
}
