---
import "./Nav.scss";
const currentPath = Astro.url.pathname;

const linkList = [
  {
    label: "Home",
    path: "/",
  },
  {
    label: "Recipes",
    path: "/recipes",
  },
];
---

<nav class="nav">
  {
    linkList.map((link) => (
      <a
        class={`nav-link${link.path === currentPath ? " active" : ""}`}
        href={link.path}
      >
        {link.label}
      </a>
    ))
  }
</nav>
