---
import type { CollectionEntry } from "astro:content";
import TagList from "./TagList.astro";

import "./Recipe.scss";
import { ExternalLink } from "react-feather";

interface Props {
  data: CollectionEntry<"recipes">;
}

const {
  data: { id, slug, data: recipe },
} = Astro.props;
---

<section id={`card-${id}`} class="box box-lined box-recipe">
  <header>
    <div class="row justify-content-between">
      <div class="col">
        <h2>
          <span class="pointie">Recipe:</span>
          <a href={`/recipes/${slug}`}>{recipe.title}</a>
        </h2>
      </div>
      <div class="col-auto text-right"></div>
    </div>
  </header>
  <p>{recipe.description}</p>

  <ul class="recipe-info-list">
    <li>
      <h3>Servings</h3>
      {recipe.servings}
    </li>
    {
      recipe.servingSize && (
        <li>
          <h3>Serving Size</h3>
          {recipe.servingSize}
        </li>
      )
    }
    {
      recipe.wwPoints !== undefined && (
        <li>
          <h3>Points per serving</h3>
          <div class="ww-points">{recipe.wwPoints}</div>
        </li>
      )
    }
    {
      recipe.wwRecipeLink && (
        <li>
          <h3>WW Recipe Link</h3>
          <a href={recipe.wwRecipeLink} target="_blank" rel="nofollow">
            Link on WW site <ExternalLink />
          </a>
        </li>
      )
    }
  </ul>

  <h3>Ingredients</h3>
  <ul class="recipe-ingredient-list">
    {recipe.ingredients.map((ingredient) => <li set:html={ingredient} />)}
  </ul>

  <h3>Method</h3>
  <ol class="recipe-instructions-list list-spaced">
    {recipe.instructions.map((instruction) => <li set:html={instruction} />)}
  </ol>
  {
    recipe.notes && (
      <>
        <h3>Notes</h3>
        <ul class="recipe-notes-list list-spaced">
          {recipe.notes.map((note) => (
            <li set:html={note} />
          ))}
        </ul>
      </>
    )
  }

  <TagList tags={recipe.tags} linkBase="/tags/" />
</section>
