---
import type { CollectionEntry } from "astro:content";
import TagList from "./TagList.astro";

import "./Recipe.scss";

interface Props {
  data: CollectionEntry<"recipes">;
}

const {
  data: { id, slug, data: recipe },
} = Astro.props;
---

<article
  id={`card-${id}`}
  class="recipe-short box box-lined box-recipe box-recipe-hover"
>
  <header>
    <div class="row justify-content-between">
      <div class="col">
        <h3><a href={`/recipes/${slug}`}>{recipe.title}</a></h3>
      </div>
      <div class="col-auto text-right">
        <div class="ww-points">{recipe.wwPoints}</div>
      </div>
    </div>
  </header>
  <div class="recipe-description">
    <p>{recipe.description}</p>
  </div>
  <TagList tags={recipe.tags} linkBase="/tags/" />
</article>
