.recipe-list-chooser {
  margin-bottom: calc(2 * var(--margin-base));
}

a.recipe-list-chooser-link {
  color: var(--accent);
  &.active {
    color: var(--text-color);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
  }
}
