@use "../style/vars";
@use "../style/mixins";

$size: 2rem;
$padding: 0.5rem;
.ww-points {
  display: inline-block;
  font-size: 1.5rem;
  font-family: var(--alt-font);
  font-weight: var(--font-weight-bold);
  color: #fff;
  background-color: var(--ww-blue);
  width: 1.5em;
  text-align: center;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2em;
    height: 2em;
    background-color: var(--ww-blue);
    border-radius: 1em;
    z-index: -1;
  }
  // width: calc($size + 2 * $padding);
  // height: calc($size + 2 * $padding);
  // line-height: $size;
  // padding: 0.5rem;
  // border-radius: 2.25rem;
}

a.ww-link {
  color: var(--ww-blue);
}

.recipe-short {
  height: calc(100% - var(--margin-base));
  display: flex;
  flex-direction: column;
  .recipe-description {
    flex-grow: 1;
  }
}

h2 .pointie {
  display: inline-block;
  background-color: var(--accent);
  color: var(--accent-opposite);
  padding-left: var(--padding-base);
  margin-left: calc(-1 * var(--padding-base));
  margin-right: 0.75em;
  font-size: 0.8em;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  line-height: 1.2em;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -0.6em;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.6em 0 0.6em 0.6em;
    border-color: transparent transparent transparent var(--accent);
  }
}

.recipe-info-list {
  margin: 0 0 var(--margin-base) 0;
  display: flex;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    + li {
      padding-left: var(--margin-base);
      margin-left: var(--margin-base);
      border-left: 1px solid var(--line-color);
    }
  }
  h3 {
    font-size: var(--font-size-sm);
  }
  @media (max-width: mixins.breakpoint("sm")) {
    flex-wrap: wrap;
    li,
    li + li {
      width: 50%;
      padding: 1rem 0;
      margin: 0;
      border: 1px solid var(--line-color);
      border-width: 1px 0 0;
    }
  }
}
