---
import "./RecipeListChooser.scss";

const currentPath = Astro.url.pathname;
const recipePath = "/recipes";
const tagsPath = "/tags";
const recipesActive = currentPath === recipePath;
const tagsActive = currentPath === tagsPath;

const recipeLinkHref = recipesActive ? "#" : recipePath;
const tagsLinkHref = tagsActive ? "#" : tagsPath;

const recipeLinkClass = recipesActive ? "active" : "";
const tagsLinkClass = tagsActive ? "active" : "";
const btnBaseClass = "recipe-list-chooser-link";
---

<div class="box box-screen recipe-list-chooser">
  <a href={recipeLinkHref} class={[btnBaseClass, recipeLinkClass].join(" ")}
    >Recipe List</a
  > | <a href={tagsLinkHref} class={[btnBaseClass, tagsLinkClass].join(" ")}
    >Recipes grouped by tag</a
  ><br />
</div>
