.tag-wrapper {
  border-top: 1px solid var(--line-color);
  padding-top: 0.5rem;
  font-size: var(--font-small);
}

.tag-title {
  margin-bottom: 0.5rem;
  font-size: var(--font-small);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  color: var(--text-light);
}

.tag-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    list-style: none;
    margin: 0;
    padding: 0 1rem 0 0;
  }
}

.page-wrap a.tag {
  display: inline-block;
  padding: 0.15rem 0.75rem;
  background-color: var(--screen);
  text-decoration: none;
  &:hover {
    color: var(--accent-opposite);
    background-color: var(--accent);
  }
}
