---
import "./Tag.scss";

interface Props {
  tags: string[];
  linkBase: string;
}

const { tags, linkBase } = Astro.props;
---

<div class="tag-wrapper">
  <h4 class="tag-title">Tags</h4>
  <ul class="tag-list">
    {
      tags.map((tag) => (
        <li>
          <a href={`${linkBase}/${tag}`} class="tag">
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</div>
