---
import "./Layout.scss";
import Header from "../components/Header.astro";
import { siteTitle } from "../siteConfig";

interface Props {
	title: string;
	hideTitle?: boolean;
	wide?: boolean;
	ogImage?: string;
}

const funEmojis = ["🌮", "🍕", "🍟", "🍗", "🥘", "🍜", "🍛"];
const titleSeparator = funEmojis[Math.floor(Math.random() * funEmojis.length)];

const {
	title,
	hideTitle = false,
	wide = false,
	ogImage: ogImageProp,
} = Astro.props;
const ogImage = ogImageProp
	? ogImageProp
	: `${import.meta.env.SITE}/share-image-global.png`;
const titleTag = title ? `${title} ${titleSeparator} ${siteTitle}` : siteTitle;
const wrapperClass = wide ? "" : "container";
---

<!--
 ,ggggggggggg,
dP"""88""""""Y8,                                  8I             ,dPYb,             ,dPYb,
Yb,  88      `8b                                  8I             IP'`Yb             IP'`Yb
 `"  88      ,8P                                  8I             I8  8I             I8  8I
     88aaaad8P"                                   8I             I8  8'             I8  8'
     88""""Yb,     ,ggg,   gg    gg    gg   ,gggg,8I  gg     gg  I8 dP    ,ggggg,   I8 dP
     88     "8b   i8" "8i  I8    I8    88bgdP"  "Y8I  I8     8I  I8dP    dP"  "Y8gggI8dP
     88      `8i  I8, ,8I  I8    I8    8I i8'    ,8I  I8,   ,8I  I8P    i8'    ,8I  I8P
     88       Yb, `YbadP' ,d8,  ,d8,  ,8I,d8,   ,d8b,,d8b, ,d8I ,d8b,_ ,d8,   ,d8' ,d8b,_
     88        Y8888P"Y888P""Y88P""Y88P" P"Y8888P"`Y8P""Y88P"8888P'"Y88P"Y8888P"   8P'"Y88
                                                           ,d8I'
                                                         ,dP'8I
                                                        ,8"  8I
                                                        I8   8I
                                                        `8, ,8I
                                                         `Y8P"
👋  Hi, y'all.
--><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Fun foods to fill you up! Wow!" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {
      ogImage && (
        <>
          <meta property="og:image" content={ogImage} />
          <meta property="twitter:image" content={ogImage} />
        </>
      )
    }
    <title>{titleTag}</title>
  </head>
  <body>
    <div class="page-wrap">
      <Header />
      <main>
        <div class={wrapperClass}>
          {title && !hideTitle && <h1 class="page-title">{title}</h1>}
          <slot />
        </div>
      </main>
    </div>
    <footer class="site-footer">
      <p>Made with joy by <a href="https://rewdy.lol">rewdy</a> 😂</p>
    </footer>
    <script is:inline data-host="https://app.microanalytics.io" data-dnt="false" src="https://app.microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
  </body>
</html>
