@import "../style/Base.scss";

// This goes here b/c color of stuff is tied to layout
body {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  a {
    color: var(--footer-link-color);
    &:hover {
      color: var(--link-hover);
    }
    &:focus {
      @include focus();
    }
  }
}
.page-wrap {
  background-color: var(--background-color);
  color: var(--text-color);

  a {
    color: var(--link-color);
    &:hover {
      color: var(--link-hover);
    }
    &:focus {
      @include focus();
    }
  }
}

.page-title {
  // text-align: center;
}

// footer
.site-footer {
  padding: var(--padding-base);
  text-align: center;
}

.page-section {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  &-screen {
    background-color: var(--screen);
  }
  &-screen-soft {
    background-color: var(--screen-soft);
  }
  &-screen-accent {
    background-color: var(--screen-accent);
    h2 {
      color: var(--accent);
    }
  }
  &-invert {
    background-color: var(--text-color);
    color: var(--background-color);
    a {
      color: var(--background-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
